.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em 0 0.8em 0;

    .download {
        a {
            font-size: 0.8em;
            display: inline-block;
            padding-right: 1em;
        }
    }

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;

        p {
            font-size: 0.8em;
        }
    }
    
    @include breakpoint($medium) {

        a {
            font-size: 1.15em;
        }

        p {
            margin-bottom: 0.05em;
        }
    
        li {
            font-size: 0.95em;
            margin-bottom: 0.05em;
        }
    
        ul {
            margin-top: 0.7em;
            margin-bottom: 0.7em;
            padding-left: 1.2em;
        }

        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}

.depart-header {
    font-size: larger;
    padding-top: 0.5em;
}
